@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.search{
    padding: .2rem .5rem;
    border: 1px solid black;
    border-radius: .2rem;
}

.search-btn{
    padding: .2rem .5rem;
    border-radius: .2rem;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}